/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 70px;
    padding-bottom: 20px;
}

#comment {
    width: 900px;
}

#comment .trumbowyg-box {
    min-height: 100px !important;
    height: 200px !important;

}

#comment .trumbowyg-editor {
    height: 200px !important;
}



/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* 메인 페이지 링크 css*/
.mainBoard {
    font-size: 20px;
    color: black;
}

    .mainBoard .atag {
        font-size: 20px;
        color: black;
    }

    .mainBoard .atag a:visited {
        color: black;
        text-decoration: none;
    }

    .mainBoard .atag a:hover {
        color: black;
        text-decoration: none;
    }

    .mainBoard .atag a:active {
        color: black;
        text-decoration: underline;
    }

    .mainBoard .asign {
        color: red;
        font-size: 9px;
    }

    .mainBoard .asign a:visited {
        color: red;
        text-decoration: none;
    }

    .mainBoard .asign a:hover {
        color: red;
        text-decoration: none;
    }

    .mainBoard .asign a:active {
        color: red;
        text-decoration: underline;
    }


input,
select,
textarea {
    max-width: 400px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
