<table class="table table-bordered">
    <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var note in Model)
        {
        <tr>
            <td>@note.NoteNo</td>
            <td>
                @*http://www.example.com/Note/Detail?noteNo=1*@
                <a asp-controller="Note" asp-action="Detail" asp-route-NoteNo="@note.NoteNo">@note.NoteTitle</a>
            </td>
            <td>@note.User.UserName</td>
        </tr>
        }
    </tbody>
</table>
<div class="text-right">
    <a class="btn btn-default" asp-controller="Note" asp-action="Add">게시물 작성</a>
</div>
